
#bluepawn1{
  background-color:blue;
  top:451px;
  left:490px;
}
#bluepawn2{
  background-color:blue;
  top:451px;
  left:395px;
}
#bluepawn3{
  background-color:blue;
  top:404px;
  left:442px;
}
#bluepawn4{
  background-color:blue;
  top:498px;
  left:442px;
}
