
#bluepawn1{
  background-color:blue;
  top:592px;
  left:1031px;
}
#bluepawn2{
  background-color:blue;
  top:592px;
  left:936px;
}
#bluepawn3{
  background-color:blue;
  top:545px;
  left:983px;
}
#bluepawn4{
  background-color:blue;
  top:639px;
  left:983px;
}
