#greenpawn1{
  background-color:green;
  top:290px;
  left:634px;
}
#greenpawn2{
  background-color:green;
  top:243px;
  left:681px;
}
#greenpawn3{
  background-color:green;
  top:196px;
  left:634px;
}
#greenpawn4{
  background-color:green;
  top:243px;
  left:588px;
}
