#redpawn1{
  background-color:red;
  top:290px;
  left:983px;
}
#redpawn2{
  background-color:red;
  top:243px;
  left:936px;
}
#redpawn3{
  background-color:red;
  top:196px;
  left:983px;
}
#redpawn4{
  background-color:red;
  top:243px;
  left:1031px;
}
