#yellowpawn1{
  background-color:yellow;
  top:592px;
  left:588px;
}
#yellowpawn2{
  background-color:yellow;
  top:592px;
  left:681px;
}
#yellowpawn3{
  background-color:yellow;
  top:545px;
  left:634px;
}
#yellowpawn4{
  background-color:yellow;
  top:639px;
  left:634px;
}
