.post{
  text-align: center;
  margin-top: 60px;
}

img{
  margin-top: 60px;
  margin-left: 47%;
  weight: 100px;
  height: 100px;
}

body{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/70619a9655183.560d7bfb8dc17.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 100% 5%;
	}
h1 {
  text-align: center;
  color: white;
}
.post{
  display: block;
  color: white;
  text-align: center;
  padding: 24px 16px;

}
