<!DOCTYPE html>
<html lang="en">
<head>
    <title>Games</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/nav-bar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/create_room.css">
</head>
<body>

    <ul id="navbar">
        <li class="navbar_link"><a class="nav_link" href="/rooms">Rooms</a></li>
      	<li class="navbar_link"><a class="nav_link" href="/about">For Game</a></li>
		    <li class="navbar_link"><a class="nav_link" href="" >Chat room</a>

        <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-user"></span><a class="nav_link user_link" href="/register">Регистрация</a></li>
        <li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-log-in"></span><a class="nav_link user_link" href="/login">Влизане</a></li>
    </ul>

    <div id="create">

        <img  id="img1" src="../static/img/game.png" alt="Game">
        <br>
        <a class="join_room1" href="/creategame">Create room</a>
    </div>
    <div id="join">

        <img id="img2" src="https://lh3.googleusercontent.com/mX28OQP6v4TBKHa5tXqgu8NB2nj2q2ja5dVXWcVN2oaxk3ONLm32ZY7ZnOoxVEGYcNs" alt="room">
        <br>
        <a class="join_room" href="/creategame">Join in room</a>
    </div>

    <div id="join1">

        <img id="img2" src="https://lh3.googleusercontent.com/mX28OQP6v4TBKHa5tXqgu8NB2nj2q2ja5dVXWcVN2oaxk3ONLm32ZY7ZnOoxVEGYcNs" alt="room">
        <br>
        <a class="join_room" href="/creategame">Join in room</a>
    </div>
    <div id="join1">

        <img id="img2" src="https://lh3.googleusercontent.com/mX28OQP6v4TBKHa5tXqgu8NB2nj2q2ja5dVXWcVN2oaxk3ONLm32ZY7ZnOoxVEGYcNs" alt="room">
        <br>
        <a class="join_room" href="/creategame">Join in room</a>
    </div>
    <div id="join1">

        <img id="img2" src="https://lh3.googleusercontent.com/mX28OQP6v4TBKHa5tXqgu8NB2nj2q2ja5dVXWcVN2oaxk3ONLm32ZY7ZnOoxVEGYcNs" alt="room">
        <br>
        <a class="join_room" href="/creategame">Join in room</a>
    </div>
    <div id="join1">

        <img id="img2" src="https://lh3.googleusercontent.com/mX28OQP6v4TBKHa5tXqgu8NB2nj2q2ja5dVXWcVN2oaxk3ONLm32ZY7ZnOoxVEGYcNs" alt="room">
        <br>
        <a class="join_room" href="/creategame">Join in room</a>
    </div>





</body>
</html>
